<div class="container">
  <div class="search-bar">
    <div class="search-input-wrapper md-form mt-0">
      <input
        class="search-input mr-sm-2 form-control"
        type="text"
        placeholder="Search"
        [(ngModel)]="searchText"
      />
    </div>
  </div>
  <div class="class-container">
    <a
      [routerLink]="['/class-detail/', class.id]"
      *ngFor="let class of classes | filter: searchText"
      class="class"
    >
      <div class="class-image">
        <div class="class-overlay"></div>
        <img src="{{ class.image[0].url }}" alt="" />
      </div>
      <div class="class-title">
        <h2>
          {{ class.name }}
        </h2>
      </div>
      <div class="class-level">
        <span>
          {{ class.level | level }}
        </span>
        •
        <span class="class-focus">{{ class.focus | focus }}</span>
      </div>
      <div class="class-prop">
        <span class="class-time">
          {{ class.classDuration | time }}
        </span>
      </div>
    </a>
  </div>
</div>
